body{text-align:center;}
img{width:100px;}

.user{  padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:100px;
	margin-bottom:5px;
	border-radius:5px;
	border:1px solid;
	border-color:chinese silver;
	background-color:Light yellow;}

.pass{   padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:100px;
	margin-bottom:5px;
	border-radius:5px;
	border:1px solid;
	border-color:chinese silver;
	background-color:Light yellow;}

.btn button{ padding-top:10px;
	padding-bottom:10px;
	padding-left:130px;
	padding-right:128px;
	border-radius:5px;
	margin-bottom:-7px;
	border:none;
	color:white;
	background-color:blue;}
.btn button:hover{color:black;}
.btn2 a{font-size:13px;
	text-decoration:none;
	color:blue;
	margin-bottom:30px;}

.btn2 button{font-size:15px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:50px;
	border-radius:5px;
	border:1px solid;
	border-color:chinese silver;
	background-color:white;}

.btn2 button:hover{color:chinese silver;}

.or p{font-size:10px;
	color:chinese silver;}
.lan a{text-decoration:none;
	font-size:12px;
	margin-left:-40px;}

.lan ul{display:inline;
	padding:33px;
	margin-right:15px;
	color:grey;}

.lan{margin-top:100px;}

.lan1 a{text-decoration:none;
	font:size:12px;
	margin-left:-40px;
	margin-top:-40px;}
.lan1 ul{display:inline;
	padding;50px;
	color:grey;}
.lan1{margin-top:5px;}
.lan2 a{text-decoration:none;
	font-size:12px;
	margin-left:-40px;
	margin-top:-40px;}
.lan2 ul{display:inline;
	padding:50px;
	color:grey;}

.lan2{margin-top:5px;}
.lan3 a{text-decoration:none;
	font-size:12px;
	margin-left:-40px;
	margin-top:-40px;}
.lan3 ul{display:inline;
	padding:50px;
	color:grey;
	}
.lan3{margin-top:5px;
}
.language{margin-left:50px;}